.footer{
    width: 93%;
    height: 80px;
    margin: 35px auto;
    background-color: rgb(56, 34, 1);
}
.footer p{
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: white;
}