#nav-item{
    font-size: 16px;
    align-items: baseline;
   font-weight: 500;
   padding-top: 5px;
   margin-top: 10px;
}
.header{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;

}
.main-nav{
    background-color: gainsboro;
    
}
